{% extends "layouts/base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-info dashboard" href="{{ url_for('frontend.consumer_url', consumer_url=consumer.consumer_url) }}">
                View Profile
            </a>
        </div>

        <div class="col-md-3">
            <a class="btn btn-info dashboard" href="{{ url_for('security.change_password') }}">
                Change Password
            </a>
        </div>
    </div><!-- /.row -->

    <div class="row user-dashboard-group">
        <div class="col-md-9">
            <h1> {{ consumer.user.first_name }} {{ consumer.user.last_name }} </h1>
            <img src="{{ consumer.avatar.url }}">
        </div>

        <div class="col-md-3">
            <button id="pick-one" class="btn btn-primary">Upload Avatar</button>
        </div>
    </div>

    <div class="row user-dashboard-group">
        <div class="col-md-9">
            <h3> About Me </h3>
            <p>{{ consumer.bio }}</p>
        </div>

        <div class="col-md-3">
            <a class="btn btn-primary"
                href="{{ url_for('dashboard.edit_consumer_bio') }}">
                Edit My Bio
            </a>
        </div>
    </div>

    <div class="row user-dashboard-group">
        <div class="col-md-9">
            <h2>Hair Type:</h2>
            {{ consumer.hair_type }}
        </div>

        <div class="col-md-3">
            <a class="btn btn-primary"
                href="{{ url_for('dashboard.edit_consumer_hair_type' ) }}">
                Change My Hair Type
            </a>
        </div>
    </div>

    <div class="row user-dashboard-group">
        <div class="col-md-9">
            <h3> My Favorites </h3>
            <ul>
                {% for fav in consumer.favorites %}
                <li>
                    <a href="{{ url_for('frontend.provider_url', provider_url=fav.business_url) }}">
                        {{ fav.business_name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-3">
            <a class="btn btn-primary">Edit This </a>
        </div>
    </div>

    <div class="row user-dashboard-group">
        <div class="col-md-9">
            <h3> My Routine </h3>
            <p>{{ consumer.hair_routine }}</p>
        </div>

        <div class="col-md-3">
            <a class="btn btn-primary"
                href="{{ url_for('dashboard.edit_routine') }}">Edit Routine</a>
        </div>
    </div>
</div>
{% endblock %}
