{% extends "layouts/base.html" %}
{% block body %}
<div class="container">
    {% if form %}
    <form class="form-horizontal" action="{{ url }}" method="POST">
        {{ form.csrf_token() }}
        <h2> Edit </h2>
            {% for field in form %}
                <div class="control-group">
                    {% if field.name != 'csrf_token'  and  field.name != 'submit' %}
                            {{ field.label(class_="control-label") }}
                    {% endif %}
                    {% if field.__class__.__name__ == 'SubmitField' %}
                        {{ field(class_="btn btn-default") }}
                    {% else %}
                        {{ field(class_="form-control") }}
                    {% endif %}
                </div>
            {% endfor %}
    </form>
    {% endif %}
</div>
{% endblock %}
