extends layouts/base.html
{% from 'includes/pagination.jade' import pagination %}

block body
  .dashboard-gallery.container
    h1 Gallery innit

    -if photos
      .gallery
        +pagination(photos)

        .links
          -each photo in photos.items
            .col-sm-4
              .thumb-container.large
                a(href="#{photo.url}", data-gallery)
                  img(src="#{photo.lg_thumb}")

        +pagination(photos)

  include includes/blueimp-gallery.jade
