extends layouts/base.html
block body
  .dashboard-gallery.container
    h1 Gallery innit

    -if photos
      .gallery
        {% from 'includes/pagination.jade' import pagination %}
        +pagination(photos)

        .links
          -each photo in photos.items
            a(href="#{photo.url}", data-gallery)
              img(src="#{photo.sm_thumb}")

    include includes/blueimp-gallery.jade
