{% extends "layouts/base.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <form action="{{ s3_url }}" method="POST" class="form-horizontal"
                enctype="multipart/form-data">
                <input type="hidden" name="AWSAccessKeyId" value="{{ aws_key }}">
                <input type="hidden" name="key" value="uploads/${filename}">
                <input type="hidden" name="acl" value="public-read">
                <input type="hidden" name="policy" value="{{ policy_64 }}">
                <input type="hidden" name="success_action_redirect" value="">
                <input type="hidden" name="signature" value="{{ signature }}">

                <div class="form-group">
                    <label for="file">Tha Fohaile</label>
                    <input name="file" type="file">
                </div>

                <div class="form-group">
                    <input type="submit" value="Go go go!"></input>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
