{% extends "layouts/base.html" %}

{% from "macros/_form.html" import render_field %}

{% block body %}
{% if provider %}
<div class="container dashboard">
    <div class="row dashboard-buttons">
        <div class="col-md-3">
            <a class="btn btn-info dashboard" href="{{ url_for('frontend.provider_url',
                provider_url=provider.business_url) }}">
                View Profile
            </a>
        </div>

        <div class="col-md-3">
            <a class="btn btn-info dashboard" href="{{ url_for('security.change_password') }}">
                Change Password
            </a>
        </div>
    </div><!-- /.row -->

    {% if form %}
    <form class="form-horizontal dash-group" action="/profile" method="POST">
        {{ form.csrf_token() }}
        <h2> General Information </h2>

        <div class="form-group">
            {{ form.avatar.label(class_="control-label col-sm-3") }}
            <div class="col-sm-9">
                <img class="img-responsive" src="http://placehold.it/125x125">
                {{ form.avatar(class_="form-control") }}
            </div>
        </div><!-- /.row -->

        {{ render_field(form.business_name) }}
        {{ render_field(form.phone) }}
        {{ render_field(form.email) }}
        {{ render_field(form.street_1) }}
        {{ render_field(form.street_2) }}
        {{ render_field(form.city) }}
        {{ render_field(form.state) }}
        {{ render_field(form.zip_code) }}

        <h2> Payment Methods </h2>
        {{ render_field(form.payment_methods) }}

    </form>
    {% endif %}
</div><!-- /.container -->
            <!-- <table class="hours">
                <tr>
                    <td> Monday </td>
                    <td> from {{ provider.hours.monday_open }} </td>
                    <td> to {{ provider.hours.monday_close }} </td>
                </tr>
                <tr>
                    <td> Tuesday </td>
                    <td> from {{ provider.hours.tuesday_open }} </td>
                    <td> to {{ provider.hours.tuesday_close }} </td>
                </tr>
                <tr>
                    <td> Wednesday </td>
                    <td> from {{ provider.hours.wednesday_open }} </td>
                    <td> to {{ provider.hours.wednesday_close }} </td>
                </tr>
                <tr>
                    <td> Thursday </td>
                    <td> from {{ provider.hours.thursday_open }} </td>
                    <td> to {{ provider.hours.thursday_close }} </td>
                </tr>
                <tr>
                    <td> Friday </td>
                    <td> from {{ provider.hours.friday_open }} </td>
                    <td> to {{ provider.hours.friday_close }} </td>
                </tr>
                <tr>
                    <td> Saturday </td>
                    <td> from {{ provider.hours.saturday_open }} </td>
                    <td> to {{ provider.hours.saturday_close }} </td>
                </tr>
                <tr>
                    <td> Sunday </td>
                    <td> from {{ provider.hours.sunday_open }} </td>
                    <td> to {{ provider.hours.sunday_close }} </td>
                </tr>
            </table>
            -->
    {% endif %}
    {% endblock %}
