<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head> <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <title>Hair Shop Search - Coming Soon!</title>
        <meta name="description" content="HairShopSearch is a directory of products and services for black hair care in your area!">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name='csrf' content="{{ csrf_token() }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet"
            href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        {% from "macros/_form.html" import render_form %}
        {% block nav %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand navbar-left" href="{{ url_for('frontend.index') }}">
                        <img src="/static/img/logo-compact.png"
                        class="img-responsive">
                    </a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('frontend.index') }}">Home</a></li>
                        {% if current_user.is_authenticated() %}
                        <li><a href="{{ url_for('dashboard.profile') }}">My Profile</a></li>
                        <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
                        {% else %}
                        <li><a href="{{ url_for('security.login') }}">Login</a></li>
                        <li><a href="{{ url_for('security.register') }}">Register</a></li>
                        {% endif %}
                    </ul>

                    {% if request.path == url_for('frontend.index') %}
                        {% set visible = 'hidden' %}
                    {% else %}
                        {% set visible = None %}
                    {% endif %}
                    <form class="navbar-form navbar-right {{ visible }}" role="search"
                        action="{{ url_for('search._search') }}" method="POST">
                        <div class="form-group">
                            <label class="sr-only" for=""></label>
                            <input type="text" class="form-control input-sm
                                apple-round inset-shadow" name="type" id=""
                                placeholder="Type">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="service"></label>
                            <input type="text" class="form-control input-sm
                                apple-round inset-shadow" name="service" id="" placeholder="Service">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for=""></label>
                            <input type="text" class="form-control input-sm
                                apple-round inset-shadow" name="" id="" placeholder="Zip Code">
                        </div>
                        <button type="submit" class="btn btn-sm">Submit</button>
                    </form>
                </div>
            </div>
        </div><!-- / nav stuff -->
        {% endblock %}



        {% block body %}
        {% endblock %}

        <div class="footer">
            <div class="row">
                <div class="container">
                    <div class="col-md-4">
                        <ul>
                            <li> <a href="/">Home</a> </li>
                            <li> <a href="/about-us">About Us</a> </li>
                            <li> <a href="mailto:info@hairshopsearch.com">Get In Touch</a> </li>
                            <li> <a href="/reset"> Reset Password </a> </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p> &copy;2013 HairShopSearch </p>
                    </div>
                    <div class="col-md-4">
                        <p> lol hai </p>
                    </div>
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
        <script src="/static/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src='//www.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        </body>
    </html>
