*.py[cod]
files
tests
*.swp
*.swq
app/static/font/MinionPro-Regular.otf
app/indexer
*.tar.gz
app/static/js/vendor
bin

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.cfg
