{% extends "layouts/base.html" %}
{% block body %}
<div class="serp-offset">
    <div class="container">
       <div class="row">
           <div class="col-sm-10 col-sm-offset-1 serp-wrapper">
            <div class="row">
                <div class="col-md-7">
                    <h1> Search Results </h1>
                    <div class="serp-res-left">
                        <div class="row serp-goog">
                            <div class="col-md-12">
                                <p>Google Adsense search results</p>
                                Result Plug Google Adsense here
                                Result
                                Result
                            </div>
                        </div>

                    <div class="pagination">
                        <ul>
                            {% if providers.has_prev %}
                                <li><a href="{{ url_for('search.test', page=providers.prev_num) }}">&lt;</a></li>
                            {% endif %}

                            {% for num in providers.iter_pages() %}
                                {% if num %}
                                    {% if num != providers.page %}
                                        <li><a href="{{ url_for('search.test', page=num) }}"> {{ num }}</a></li> 
                                    {% else %}
                                        <li>
                                            {{ num }}
                                        </li>
                                    {% endif %}
                                    {% else %}
                                    <li> ... </li>
                                {% endif %}
                            {% endfor %}

                            {% if providers.has_next %}
                                <li><a href="{{ url_for('search.test', page=providers.next_num) }}">&gt;</a></li>
                            {% endif %}
                        </ul>
                    </div>

                        {% if providers %}
                        {% for provider in providers.items %}
                            <div class="row serp-box">
                                <div class="col-xs-3">
                                    <img class="img-responsive serp-img" src="http://placehold.it/100x100" />
                                </div>

                                <div class="col-xs-9">
                                    <div class="serp-format">
                                        <h2><a href="/{{ provider.business_url }}">{{ provider.business_name }}</a></h2>
                                            <p>{{ provider.address.street_1 }}
                                            {{ provider.address.city }},
                                            {{ provider.address.state }}
                                            {{ provider.address.zip_code }}</p>


                                        <div class="favs">
                                            <span class="glyphicon glyphicon-star"></span>
                                            {% if provider.favorited_by %}
                                                <span> {{ provider.favorited_by.all() | count }} </span>
                                            {% else %}
                                                <span> 0 </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.serp-box /.row -->
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>


                <div class="col-md-5">
                    <div class="serp-promo-right">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="serp-advert">
                                    <p>Local advertisment</p>
                                    <img class="img-responsive center" src="http://placehold.it/400x200">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="serp-advert">
                                    <img class="img-responsive center" src="http://placehold.it/400x200">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="serp-advert">
                                    <img class="img-responsive center" src="http://placehold.it/400x200">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               </div><!-- /.row -->
           </div><!-- /offset cols -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div> <!-- /.serp-wrapper -->
{% endblock %}
