extends layouts/base.html
block body
  .about-us.container
    .row
      .col-sm-8.col-sm-offset-2
        h1 What's Going On Here?
        p.
          In 2014, hair and technology collide to bring you HairShopSearch, a
          connecting platform actively seeking to provide the best search for
          hair care and beauty solutions for your glorious hair textures and
          amazing skin online.

        h2 Our Mission
        p.
          Create solutions within the hair care and beauty
          industry. Emphasize connection.  Engage customers. Enhance
          businesses.

        h2 The Truth
        p.
          It’s not just hair and beauty.  It’s a huge part of our
          lives.  Stay on course and shine a spotlight on your passion for hair
          and beauty.  HairShopSearch is solving the problem of:

        ul
          li Connecting to solutions through search
          li Developing web presence
          li Brand advertisement

        h2 Now We Need You
        p.
          We’ve built the platform.  Now we are recruiting you, our respected
          audience, to grow with us.  Spotlight your businesses, build your web
          presence, tell the story of your hair journey, and spread your
          influence.  Do all these things because the platform is right here
          for you to make it happen.

        h2 Your Voice Matters
        p.
          On our end we will continue to listen to your feedback, make things
          pretty, and add new features that will blow your mind.  However,
          let’s be real for a second: we can ONLY do all of this if you
          wonderful, awesome people register, actively use the website, and
          give us that feedback. Get involved. This could be the best movement
          you’ve ever joined. Or we may all crash and burn. Either way we’re
          going to have fun doing it!  So let’s connect!

        h2 Join in the Fun
        p.
          We're located in super, duper Dallas-Fort Worth! If work at a salon
          or barbershop, or you sell hair care or beauty products, feel free to
          contact us to schedule a free in-person introduction to
          HairShopSearch.

    .row
      .col-sm-2.col-sm-offset-5
        .btn.btn-cta Register Today!

    .row
      .col-sm-8.col-sm-offset-2
        p.sub.
          Not a salon, barbershop, or product location but still want to
          advertise with us? <a href="/contact-us">Get in touch!</a>
