extends layouts/base.html
block body
  .about-us
    .container
      .row
        .col-sm-12

  .about-content
    .row
      .col-sm-8.col-sm-offset-2.condense
        h1 What's going on here?
        p.
          First, welcome to the site folks!  My name is Whitney Alyse. I am a new Dallas 
          Texan with a passion for developing websites that streamline the way customers 
          find providers of black and brown hair care in their communities. And I'm the 
          founder of this innovative website that provides huge solutions that other bigger, 
          well-known companies do not offer.
        p.
          In 2014, hair and technology combine to bring you HairShopSearch. This website 
          specifically targets customers looking for black and brown hair care and beauty 
          solutions along with the providers that offer these services and products. We take the guess work 
          out of the hair care and beauty search. On this website, customers no longer have 
          to make sure to type 'black' or 'brown' before every search they make for hair care 
          and beauty. And providers no longer have to question exactly what type of customers 
          are viewing their advertised listing. The site provides an easily organized 
          experience for the customers and providers involved. Each provider profile listing 
          in the search gives customers full access to important details from local providers 
          including general business information, a gallery of photos, and a service/product 
          menu. Also, when customers favorite a provider profile listing, the local provider
          will gain access to general information about the customer. 
        
        h2 The reason behind it all  
        p.
          I started this project because I wanted to eliminate the irritations I had when 
          searching online for local providers. Like most folks when they move, I had no clue 
          where to get my hair done. I figured I'd try to find a stylist on the Internet. After 
          searching online for a while, all the guessing started to get annoying. Does she do 
          black hair? Does he do black hair? I know they are black, but do they do black hair? 
          If I was going to spend my money, I wanted to make sure the local provider actually 
          had the right skills and experience with hair like mine.
        
        h2 Taking on a challenge 
        p.
          The core challenge I took on was to design a website that could serve as the 
          connecting ground for a community search bringing customers and providers together.  
          After a lot of research, months of work, and a lot of testing, my team and I designed 
          and programmed a website that is ready to solve this core challenge. The current 1.0 
          version of the website already has just enough unique features to get customers into 
          provider doors. Our connecting platform enables users to register and create either 
          an online customer hair consultation or a provider profile listing.  Providers can 
          complete a provider profile listing fast and easy. Likewise, customers have the 
          opportunity to fill out a quick online customer hair consultation. Then whenever a 
          customer favorites a provider profile listing, the provider will be able to view the 
          customer’s filled out hair consultation. This is a very powerful connection that let's
          providers see the type of customers they are attracting. The first version of 
          HairShopSearch offers many simple but creative features for its initial users. Whether
          you are a customer actively seeking local providers OR a local provider interested in
          a new way to advertise to customers, HairShopSearch will give you an advantage.
          
        h2 Now We Need You
        p.
          Here's where you, the user, come in…  
          My team and I have spent the past few months designing and programming the initial site 
          to release for the Dallas/Fort-Worth launch. Now, we need the good people of DFW! We’ve 
          built the platform. Now we are recruiting you, our respected audience, to grow with us. 
          Spotlight your businesses, build your web presence, tell the story of your hair journey, 
          and spread your influence. Do all these things because the website is right here for you 
          to make it happen.

        h2 Your Voice Matters
        p.
          On our end we will continue to listen to your feedback, make things pretty, and add new
          features that will put a smile on your face. As we grow together, the company will be
          focused on creating featured advertisement opportunities for providers and other brands; 
          we will be completing sponsorship deals with established brands; all the while, we will 
          be raising more capital and accepting donations to be invested 100% into the future 
          growth and development of the company. Growth and development includes: continued 
          optimization of web design and programming function for future version releases; 
          increased social media, email, and community outreach; thorough analysis of website 
          metrics for validated learning; and anything else that will help the website be of value 
          to its users. Give us that feedback. And get involved. This could be the best website 
          you’ve ever joined.   
       
        .row
          .col-sm-2.col-sm-offset-5
            <a href="/register"><input class="btn btn-cta" value="Register Now"></a> 
       
        h2 Our Mission
        p.
          Create solutions within the black and brown hair care and beauty industry. 
          Emphasize connection. Engage customers. Enhance businesses.  

        
        h2 The Truth
        p.
          It’s not just hair and beauty.  It’s a huge part of our
          lives.  Stay on course and shine a spotlight on your passion for hair
          and beauty.  HairShopSearch is solving the problem of:

        ul
          li Connections to solutions through search
          li Developing web presence
          li Brand advertisement
            
     
        h2 Join in the Fun
        p.
          We're launching in Dallas-Fort Worth! If you work at a salon or barbershop, or you 
          sell hair care or beauty products, feel free to <a href="/contact-us">contact us</a> to schedule a free in-person
          introduction to HairShopSearch. 
        p.
          Also, if you are the owner or work in admissions for a local DFW cosmetology/barber school, 
          give us a call/email to discuss advertisement and sponsorship opportunities.  
  

    .row
      .col-sm-8.col-sm-offset-2
        p.sub.
          Not a salon, barbershop, product location, or school but still want to advertise with us?
          <a href="/contact-us">Get in touch.</a>
     
