{% extends "layouts/base.html" %}
{% block body %}
<div class="container marketing-welcome">
    <div class="lead">
        <span class="deck"> At a certain point, playing trial and error with your hair becomes a bad idea.
        </span>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive center" src="http://placehold.it/250x250">
            </div>

            <div class="col-md-6">
                <h2 class="question"> Current Challenge </h2>
                <p class="answer"> It's difficult to find quality professionals online.</p>
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <img class="img-responsive center" src="http://placehold.it/250x250">
            </div>

            <div class="col-md-6 col-md-pull-6">
                <h2 class="question"> HairShopSearch Solution </h2>
                <p class="answer"> You'll find those quality professionals
                at HairShopSearch.
                </p>
            </div>

        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive center" src="http://placehold.it/250x250">
            </div>

            <div class="col-md-6">
                <h2 class="question"> Formula for Success </h2>
                <p class="answer"> Engage in smarter, faster, more reliable
                connections. Exposure to everything you need. Solutions for
                all.
                </p>
            </div>
        </div><!-- /.row -->

        <div class="row align-center closer">
            <p> If you are like us, you want to find who's who. See what's
            what. Discover where and how. And keep it moving. Hair and
            beauty solutions are no different.
            </p>

            <p> Start here to sign up for you Free Consumer Page: </p>

            <a href="{{ url_for('security.register') }}">
                <button class="btn btn-warning center" type="button">
                    <span> Let's Get Started </span>
                </button>
            </a>
        </div><!-- /.row -->

        <div class="row closer">
            <div class="col-md-12">
                <p> Still wondering exactly what you get with a Consumer Page? </p>
                <ul>
                    <li> Follow and Share - when others find great hair
                    care and beauty solutions, you do too. Personlize
                    your hair care and beauty experience.
                    </li>
                    <li> Track what's important. Get rid of uncertainy and
                    bring your routine everywhere you go.
                    </li>
                    <li> You're on the go and making moves.  Easily find 
                    HairShops in your current area.
                    </li>
                </ul>

                <p> All it takes is <em> a look </em> to be understood and
                convinced.
                </p>
            </div>
        </div><!-- /.row -->
    </div>
</div><!-- /.container -->
{% endblock %}
