{% extends "layouts/base.html" %}
{% block body %}

<div class="container consumer-profile">
    <div class="row">
        <div class="col-md-6">
            <h2> General Info </h2>
            {{ consumer.user.first_name }} {{ consumer.user.last_name }}
            {{ consumer.avatar.url }}
            <hr>
        </div>
        <div class="col-md-6">
            <h2> Routine </h2>
            {{ consumer.hair_routine.hair_condition }}
            {{ consumer.hair_routine.fav_style }}
            {{ consumer.hair_routine.shampoo_type }}
            {{ consumer.hair_routine.conditioner_type }}

            {% for product in consumer.favorite_products %}
            {{ product.name }}
            {% endfor %}
            <hr>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <h2> Social Media </h2>
            {{ consumer.fb_url }}
            {{ consumer.gplus_url }}
            {{ consumer.blog_url }}
            {{ consumer.youtube_url }}
            {{ consumer.vimeo_url }}
            {{ consumer.other_url }}
        </div>

        <div class="col-md-6">
            <h2> Followers </h2>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <h2> Favorites </h2>
        </div>
    </div>


</div><!-- /.container -->
{% endblock %}
