{% extends "layouts/base.html" %}
{% block body %}

<div class="container consumer-profile">
    <div class="row">
        <div class="col-md-6">
            <h2> General Info </h2>
            <h3>{{ consumer.user.first_name }} {{ consumer.user.last_name }}</h3>
            <img class="img-responsive" src="{{ consumer.avatar.url }}">
            <p> {{ consumer.location }} </p>
            <p> {{ consumer.user.gender }} </p>
            <hr>
            {% if current_user.consumer %}
                <a href="{{ url_for('frontend.follow', consumer_id=consumer.id) }}">
                    <button class="btn btn-default btn-lg" type="button">Follow</button>
                </a>
            {% endif %}
        </div>

        <div class="col-md-6">
            <h2> Social Media </h2>
            <p><a href="{{ consumer.fb_url }}">Facebook</a></p>
            <p><a href="{{ consumer.gplus_url }}">G+</a></p>
            <p><a href="{{ consumer.blog_url }}">Blog</a></p>
            <p><a href="{{ consumer.youtube_url }}">Youtube Channel</a></p>
            <p><a href="{{ consumer.vimeo_url }}">Vimeo Page</a></p>
            <p><a href="{{ consumer.other_url }}">Other</a></p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2> Routine </h2>
            <p>Hair Condition: {{ consumer.hair_routine.hair_condition }}</p>
            <p>Favorite cut or style: {{ consumer.hair_routine.fav_style }}</p>
            <p>Shampoo: {{ consumer.hair_routine.shampoo_type }}</p>
            <p>Conditioner: {{ consumer.hair_routine.conditioner_type }}</p>

            <ul>
            {% for product in consumer.favorite_products %}
                <li>{{ product.name }}</li>
            {% endfor %}
        </ul>
            <hr>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <h2> Followers </h2>
            <h3> Who I Follow </h3>
            {% if consumer.followed %}
                {% for followed in consumer.followed %}
                <a href="{{ followed.consumer_url }}">
                    {{ followed.user.first_name }} {{ followed.user.last_name}}
                </a>
                {% endfor %}
            {% else %}
                <p> You're not following anyone. Give somebody a follow. </p>
            {% endif %}

            <h3> Following Me </h3>
            {% if consumer.followers %}
                {% for follower in consumer.followers %}
                <a href="{{ follower.consumer_url }}">
                    {{ follower.user.first_name }} {{ follower.user.last_name}}
                </a>
                {% endfor %}
            {% else %}
                <p> Nobody yet! Get out there and mingle! </p>
            {% endif %}
            <hr>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <h2> Favorites </h2>
        </div>
    </div>


</div><!-- /.container -->
{% endblock %}
