{% extends "layouts/base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
<div class="gallery container">
    <div class="row">
        <div class="col-sm-12">
            <ul id="elastigallery" class="elastislide-list">
            {% for photo in gallery.photos %}
                <li>
                    <a href="#"><img src="{{ photo.url }}" /></a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-sm-12">
            <div id="gallery-view">
                <img src=""> 
            </div>
        </div>
    </div><!-- /.row -->
</div>

{% endblock %}
