{% extends "layouts/base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
<div class="gallery container">
    <div class="row">
        {% set count = 0 %}
        {% for photo in gallery.photos[::-1] %}
            {% set count = count + 1 %}
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <div class="thumb-container small">
                    <div class="thumb-controls">
                        <a class="fav-button" href="{{ url_for('frontend.add_to_favorites', photo_id=photo.id) }}">fav me</a>
                    </div>

                    <a href="#" data-src="{{ photo.url }}">
                        <img class="gallery-img img-responsive" src="{{ photo.sm_thumb }}" />
                    </a>
                </div>
            </div>
            {% if count == 6 %}
        </div>

        <div class="row">
            {% set count = 0 %}
            {% endif %}
        {% endfor %}
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
