{% extends "layouts/base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
<div class="gallery container">
    <div class="row">
        <div class="col-sm-12">
            <ul id="elastigallery" class="elastislide-list">
            {% for photo in gallery.photos %}
                <li>
                    <a href="#"><img class="es-thumbnail img-responsive" src="{{ photo.url }}" /></a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div><!-- /.row -->

    <div class="gallery-view">
        <div class="row">
            <div class="col-sm-12">
                <div id="gallery-view">
                    <img id="view-image" class="view-image img-responsive" src="http://placehold.it/300x300"> 
                </div>
            </div>
        </div><!-- /.row -->
    </div>
</div>
{% endblock %}
