{% extends "layouts/base.html" %}

{% from "macros/_form.html" import render_form %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="{{ url_for('frontend.index') }}">
                <img class="img-responsive center-block" src="{{ url_for('static', filename='img/logo-lg.png') }}">
            </a>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-12 search-form-container">
            {% if index_search_form %}
            <form class="form-inline text-center" action="/search/" method="POST" role="form">
                {{ index_search_form.csrf_token }}
                <div class="form-group">
                    <label class="sr-only" for="menu_type">Type</label>
                    <select class="form-control" id="menu_type" name="menu_type">
                        <option value="none">I'm looking for:</option>
                        <option value="salon">Salons</option>
                        <option value="barbershop">Barbershops</option>
                        <option value="product">Products</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="zip_code">Zip</label>
                    <input class="form-control" id="zip_code" name="zip_code"
                    type="text" data-placeholder="in ZIP code">
                </div>

                <div class="form-group">
                    <input class="btn btn-default" id="submit" name="submit" type="submit" value="Search">
                </div>
            </form>
            {% endif %}

            <h2 class="index deck text-center"> We're making it easier to find hair care
                and beauty solutions for your glorious hair textures and
                amazing skin!
            </h2>
        </div>
    </div><!-- /.row -->

    <div class="row index lead">
        <div class="col-md-12 text-center">
            <p> As a <a href="{{ url_for('frontend.provider_welcome') }}">provider</a>,
            HairShopSearch can help you attract new clients and earn more. </p>
            <p> As a <a href="{{ url_for('frontend.consumer_welcome') }}">consumer</a>,
            HairShopSearch can help you find hair care and beauty
            solutions offered by providers.
            </p>
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->

 <div class="foot-banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img class="img-responsive center" src="http://placehold.it/300x300&text=Your Shop Here">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive center" src="http://placehold.it/300x300&text=Your Salon Here">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive center" src="http://placehold.it/300x300&text=Your Product Here">
            </div>
            <div class="col-sm-3">
                <img class="img-responsive center" src="http://placehold.it/300x300&text=You Featured Here">
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.foot-banner -->
    {% endblock %}
