{% extends "layouts/base.html" %}

{% from "macros/_form.html" import render_form %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="{{ url_for('frontend.index') }}">
                <img class="img-responsive center-block" src="{{ url_for('static', filename='img/logo-lg.png') }}">
            </a>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-12 search-form-container">
            {% if index_search_form %}
            <form class="form-inline text-center" action="/search/" method="POST" role="form">
                {{ index_search_form.csrf_token }}
                <div class="form-group">
                    <label class="sr-only" for="menu_type">Type</label>
                    <select class="form-control" id="menu_type" name="menu_type">
                        <option value="none">I'm looking for:</option>
                        <option value="salon">Salons</option>
                        <option value="barbershop">Barbershops</option>
                        <option value="product">Products</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="zip_code">Zip</label>
                    <input class="form-control" id="zip_code" name="zip_code"
                    type="text" placeholder="near this ZIP code (Ex.75243)">
                </div>

                <div class="form-group">
                    <input class="btn btn-default" id="submit" name="submit" type="submit" value="Search">
                </div>
            </form>
            {% endif %}

             <p class="text-center"> Customers, you can use the 2-step search above to start finding stylists, barbers, and other providers in your local area. </p>
            <h1 class="index deck text-center"> Introducing the black and brown hair care search made easy!
            </h1>
           
        </div>
    </div><!-- /.row -->

    <div class="row index lead">
        <div class="col-md-12 text-center">
          <p> As a <a href="{{ url_for('frontend.consumer_welcome') }}">consumer</a>,
            HairShopSearch helps you find hair care and beauty solutions offered by providers. We’ve got you covered. 
            Search businesses that offer services and products specific to your hair textures and beauty needs. And 
            let providers connect to you! Register to complete your online customer hair consultation. 
          </p>  
          <p> As a <a href="{{ url_for('frontend.provider_welcome') }}">provider</a>,
            HairShopSearch helps you get in front of thousands of new customers specifically looking for the services 
            and products you provide. Advertise your skills and potentially earn more money. Register to complete your 
            provider profile listing and upload a gallery of your work. View customer hair consultations when they 
            favorite your provider profile listing!  </p>
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->

 <div class="foot-banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img class="img-responsive center hidden-xs" src="http://placehold.it/300x300&text=Your Shop Here">
            </div>

            <div class="col-sm-3">
                <img class="img-responsive center hidden-xs" src="http://placehold.it/300x300&text=Your Salon Here">
            </div>

            <div class="col-sm-3">
                <img class="img-responsive center hidden-xs" src="http://placehold.it/300x300&text=Your Product Here">
            </div>

            <div class="col-sm-3">
                <img class="img-responsive center hidden-xs" src="http://placehold.it/300x300&text=You Featured Here">
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.foot-banner -->

<div class="read-this">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
            </div>

            <div class="col-sm-6">
            </div>
        </div>
    </div>
</div>

<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-push-7">
                <h1> About Us </h1>
                <p>
                    …it's pretty neato'. I mean, where else are you going to connect to
                    salons, barbershops, and product locations that you can Search that
                    is this easy? I mean, really.
                </p>

                <p>
                    And you know what's really cool? We built this our own selves - by
                    hand, just for you at a kitchen table. Who needs a garage when you
                    have a kitchen table!
                </p>
            </div>
        </div>
    </div>
</div>


<div class="last-cta">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p> Since we're here, together, at the bottom of the page, you should sign up for HairShopSearch. </p>
                <a href="{{ url_for('security.register') }}" class="btn btn-cta"> Let's Get Started </a>
            </div>
        </div>
    </div>
</div>

    {% endblock %}
