{% extends "layouts/base.html" %}
{% block body %}
<div class="container marketing-welcome">
    <div class="lead">
        <span class="deck"> Connect to motivated consumers who are actively looking
            for the solutions you provide.
        </span>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive center" src="http://placehold.it/250x250">
            </div>

            <div class="col-md-6">
                <h2 class="question"> Current Challenge </h2> 
                <p class="answer"> Connecting with potential customers online
                can be a difficult process.</p>
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <img class="img-responsive center" src="http://placehold.it/250x250">
            </div>

            <div class="col-md-6 col-md-pull-6">
                <h2 class="question"> HairShopSearch Solution </h2>
                <p class="answer"> HairShopSearch brings your business online
                and opens your doors to create a space where your brand can
                grow. </p>
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive center" src="http://placehold.it/250x250">
            </div>

            <div class="col-md-6">
                <h2 class="question"> Formula for Success </h2>
                <p class="answer"> Earn additional revenue through your
                existing clients while attracting to the services and products
                you offer. </p>
            </div>
        </div><!-- /.row -->

        <div class="row align-center closer">
            <p> Integrate the power of the internet into your business and
            continue to grow your presence online. We can help you succeed.
            Grow a strong, attractive business.
            </p>

            <p> Start here to sign up for a Free Profile Listing:</p>

            <a href="{{ url_for('security.register') }}">
                <button class="btn btn-warning center" type="button">
                    <span> Let's Get Started </span><br>
                </button>
            </a>
        </div><!-- /.row -->

        <div class="row closer">
            <p> Need a little more info on features? </p>
            <ul>
                <li> Reach New Clients who are actively looking for the
                products and services you provider.
                </li>

                <li> Create a searchable profile listing and custom website
                address.
                </li>


                <li> Increase your reputation and connect with fellow
                professionals. Endorse other professionals while they
                endorse you.
                </li>
            </ul>
        </div>
    </div>
    </div><!-- /.container -->
{% endblock %}
