extends layouts/base.html
block body
  .container
    .row
      .col-sm-8.col-sm-offset-2
        h1 For Providers
        h2 Salons, Barbershops, and Product Locations
        p.
          We've built this connecting platform just for you and the hair care
          and beauty solutions you provide. Connect to motivated consumers who
          are actively trying to connect to the solutions you provide.

        h2 Current Challenge
        p.
          You need to connect to customers online, but connecting with
          potential customers online can be a difficult process. 

        h2 HairShopSearch Solution
        p.
          We bring businesses online to create an Internet space where brands
          can grow.

        h2 Formula for Success
        p.
          Attract new consumers to the products and services you offer.  When
          you do, you’ll gain access to the consumer profiles of people who
          favorite you as a provider.

        h2 How It Works
        ul
          li Register for a Provider Profile Listing, here.
          li Complete your Provider Profile Listing in full.
          li Get Listed! Start attracting motivated consumers to your listing.  Encourage them to favorite you. 
          li You gain access to the consumer profiles of people who favorite you as a provider.

