{% extends "layouts/base.html" %}
{% block body %}
<section>
    <div class="business-info">
    <h2> {{ provider.business_name }} </h2>
    {% if provider.avatar.url %}
    <img src="{{ provider.avatar.url }}">
    {% else %}
    <img src="http://placehold.it/225x300">
    {% endif %}
    <h3> {{ provider.phone }} </h3>
    <address>
        <table>
            <tr><td>{{ provider.address.street_1 }}</td></tr>
            <tr><td>{{ provider.address.street_2 }}</td></tr>
            <tr><td>{{ provider.address.city }}</td></tr>
            <tr><td>{{ provider.address.state }}</td></tr>
            <tr><td>{{ provider.address.zip_code }}</td></tr>
            <tr><td>
                    <a href="mailto:{{ provider.email }}">
                        {{ provider.email }}
                    </a>
            </td></tr>
        </table>
    </address>
</div>
</section>

<section>
    <div class="payment-methods">
        <h3> Payment Methods </h3>
        <ul>
            {% for method in provider.payment_methods.split(',') %}
            <li>{{ method.capitalize() }}</li>
            {% endfor %}
        </ul>
    </div>
</section>

<section>
    <div class="hours">
    <h3> Hours </h3>
    <table>
        <tr>
            <td> Monday </td>
            <td> from {{ provider.hours.monday_open }} </td>
            <td> to {{ provider.hours.monday_close }} </td>
        </tr>
        <tr>
            <td> Tuesday </td>
            <td> from {{ provider.hours.tuesday_open }} </td>
            <td> to {{ provider.hours.tuesday_close }} </td>
        </tr>
        <tr>
            <td> Wednesday </td>
            <td> from {{ provider.hours.wednesday_open }} </td>
            <td> to {{ provider.hours.wednesday_close }} </td>
        </tr>
        <tr>
            <td> Thursday </td>
            <td> from {{ provider.hours.thursday_open }} </td>
            <td> to {{ provider.hours.thursday_close }} </td>
        </tr>
        <tr>
            <td> Friday </td>
            <td> from {{ provider.hours.friday_open }} </td>
            <td> to {{ provider.hours.friday_close }} </td>
        </tr>
        <tr>
            <td> Saturday </td>
            <td> from {{ provider.hours.saturday_open }} </td>
            <td> to {{ provider.hours.saturday_close }} </td>
        </tr>
        <tr>
            <td> Sunday </td>
            <td> from {{ provider.hours.sunday_open }} </td>
            <td> to {{ provider.hours.sunday_close }} </td>
        </tr>
    </table>
</div>
</section>

<section>
    <div class="about-us">
        <h3> About Us </h3>
        <p>{{ provider.bio }}</p>
    </div>
</section>

<section>
    <div class="links">
        <h3> Social Media </h3>
        <table cellspacing="0">
            <tr>
                <td> FaceBook: </td>
                <td> {{ provider.fb_url }} </td>
            </tr>
            <tr>
                <td>Twitter:</td>
                <td> {{ provider.twitter_url }} </td>
            </tr>
            <tr>
                <td> Personal Site: </td>
                <td> {{ provider.links }} </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <div class="menus">
        {% for menu in provider.menus %}
        <h4> {{ menu.menu_type }} </h4>
        <table cellspacing="0">
            {% for item in menu.menu_items %}
            <tr>
                <td> {{ item.name }} </td>
                <td> {{ item.price | cash }} </td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
</section>

<section>
    <div class="reviews">
        <h3> Customer Reviews </h3>
        <ul>
            {% for review in provider.reviews %}
            <li>
                {{ review.body }}
                <br>
                {{ review.user.first_name }} | {{ review.user.email }}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section>
    <div class="gallery">
        <h3> Check Out Our Work </h3>
        {% for photo in provider.gallery.photos %}
            <img src="{{ photo.url }}">
        {% endfor %}
    </div>
</section>
{% endblock %}
