{% extends "layouts/base.html" %}
{% block body %}

<div id="profile-jumbotron" class="jumbotron inset-shadow-top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="img-responsive"
                src="http://placehold.it/425x370&text=Hero">
            </div>

            <div class="col-md-7 hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-thumbnail img-responsive" src="http://placehold.it/250x250">
                    </div>
                    <div class="col-md-4">
                        <img class="img-thumbnail img-responsive" src="http://placehold.it/250x250">
                    </div>
                    <div class="col-md-4">
                        <img class="img-thumbnail img-responsive" src="http://placehold.it/250x250">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <img class="img-thumbnail img-responsive" src="http://placehold.it/250x250">
                    </div>
                    <div class="col-md-4">
                        <img class="img-thumbnail img-responsive" src="http://placehold.it/250x250">
                    </div>
                    <div class="col-md-4">
                        <img class="img-thumbnail img-responsive" src="http://placehold.it/250x250">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1> {{ provider.business_name }} </h1>
    <a href="{{ url_for('frontend.favorite', provider_id=provider.id) }}">
        Favorite
    </a>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-header" data-toggle="collapse" 
                        data-target="#menus">
                        <h3> Menus </h3>
                    </div>

                    <div class="profile-content collapse" id="menus">
                        <div>
                             {% for menu in provider.menus %}
                                <table cellspacing="0" class="profile-menu">
                                    <caption class="bold">{{ menu.menu_type }}</caption>
                                    <thead><tr><th>Item:</th><th>Price:</th></tr></thead>
                                    <tbody>
                                        {% for item in menu.menu_items %}
                                        <tr><td> {{ item.name }} </td><td> {{
                                                item.price | cash }} </td></tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                             {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-header"
                        data-toggle="collapse"
                        data-target="#bio">
                        <h3> Bio </h3>
                    </div>
                    <div class="profile-content collapse" id="bio">
                        <div>
                            <p>
                                {{ provider.bio }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="profile-header"
                        data-toggle="collapse"
                        data-target="#reviews">
                        <h3> Reviews </h3>
                    </div>
                    <div class="profile-content collapse" id="reviews">
                        <div>
                            <ul>
                                <li>
                                    <h5> Lovely </h5>
                                    <p>
                                        ote bag fap irony, do ea pickled
                                        farm-to-table mollit leggings.
                                        Shoreditch squid adipisicing Marfa,
                                        street art biodiesel Blue Bottle
                                        pop-up. Squid hella kale chips
                                        8-bit. Irure cupidatat anim sunt in
                                        keytar. Tattooed excepteur selfies
                                        Intelligentsia Tonx proident.
                                        Bitters mustache
                                    </p>
                                    <a href="mailto:bob@gmail.com">bob@gmail.com</a>
                                    <hr>
                                </li>
                                <li>
                                    <h5> Smelled Like Cheese</h5>
                                    <p>
                                        I love cheese.
                                    </p>
                                    <a href="mailto:bob@gmail.com">bob@gmail.com</a>
                                    <hr>
                                </li>
                                <li>
                                    <h5> Lovely </h5>
                                    <p>
                                        ote bag fap irony, do ea pickled
                                        farm-to-table mollit leggings.
                                        Shoreditch squid adipisicing Marfa,
                                        street art biodiesel Blue Bottle
                                        pop-up. Squid hella kale chips
                                        8-bit. Irure cupidatat anim sunt in
                                        keytar. Tattooed excepteur selfies
                                        Intelligentsia Tonx proident.
                                        Bitters mustache
                                    </p>
                                    <a href="mailto:bob@gmail.com">bob@gmail.com</a>
                                    <hr>
                                </li>
                                <li>
                                    <h5> Would Use Again</h5>
                                    <p>
                                        Totally.  Awesome sauce.
                                    </p>
                                    <a href="mailto:bob@gmail.com">bob@gmail.com</a>
                                    <hr>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-header"
                                data-toggle="collapse"
                                data-target="#gallery">
                                <h3> Gallery </h3>
                            </div>
                            <div class="profile-content collapse" id="gallery">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-4">
                                        <img class="img-thumbnail img-responsive" src="http://placehold.it/250x250">
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <img class="img-thumbnail img-responsive" src="http://placehold.it/250x250">
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                        <img class="img-thumbnail img-responsive" src="http://placehold.it/250x250">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-4 col-md-4">
                                        <img class="img-thumbnail img-responsive" src="http://placehold.it/250x250">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-4">
                                        <img class="img-thumbnail img-responsive" src="http://placehold.it/250x250">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-4">
                                        <img class="img-thumbnail img-responsive" src="http://placehold.it/250x250">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-4 col-md-4">
                                        <img class="img-thumbnail img-responsive" src="http://placehold.it/250x250">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-4">
                                        <img class="img-thumbnail img-responsive" src="http://placehold.it/250x250">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-4">
                                        <img class="img-thumbnail img-responsive" src="http://placehold.it/250x250">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- ./ 2/3 left col -->

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Contact -->
                            <div class="profile-sidebar">
                                <h3> Contact </h3>
                                <hr>
                                {% if not provider.phone %}
                                    <p> Coming soon! </p>
                                {% else %}
                                    <p> {{ provider.phone }} </p>
                                {% endif %}

                                {% if not provider.email %}
                                    <p> Coming soon! </p>
                                {% else %}
                                <a href="mailto:{{ provider.email }}">
                                    {{ provider.email }} </a>
                                {% endif %}

                                {% if not provider.address %}
                                        <p> Coming soon! </p>
                                {% else %}
                                    <address>
                                        <p>{{ provider.address.street_1 }}</p>
                                        <p>{{ provider.address.street_2 }}</p>
                                        <p>
                                            {{ provider.address.city }},
                                            {{ provider.address.state }}
                                            {{ provider.address.zip_code }}
                                        </p>
                                    </address>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Hours -->
                        <div class="col-md-12">
                            <div class="profile-sidebar">
                                <table cellspacing="0">
                                    <h3> Hours </h3>
                                    <hr>
                                    <tr>
                                        <td> Monday </td>
                                        <td> {{ provider.hours.monday_open }} - </td>
                                        <td> {{ provider.hours.monday_close }} </td>
                                    </tr>
                                    <tr>
                                        <td> Tuesday </td>
                                        <td> {{ provider.hours.tuesday_open }} - </td>
                                        <td> {{ provider.hours.tuesday_close }} </td>
                                    </tr>
                                    <tr>
                                        <td> Wednesday </td>
                                        <td> {{ provider.hours.wednesday_open }} - </td>
                                        <td> {{ provider.hours.wednesday_close }} </td>
                                    </tr>
                                    <tr>
                                        <td> Thursday </td>
                                        <td> {{ provider.hours.thursday_open }} - </td>
                                        <td> {{ provider.hours.thursday_close }} </td>
                                    </tr>
                                    <tr>
                                        <td> Friday </td>
                                        <td> {{ provider.hours.friday_open }} - </td>
                                        <td> {{ provider.hours.friday_close }} </td>
                                    </tr>
                                    <tr>
                                        <td> Saturday </td>
                                        <td> {{ provider.hours.saturday_open }} - </td>
                                        <td> {{ provider.hours.saturday_close }} </td>
                                    </tr>
                                    <tr>
                                        <td> Sunday </td>
                                        <td> {{ provider.hours.sunday_open }} - </td>
                                        <td> {{ provider.hours.sunday_close }} </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Location -->
                        <div class="col-md-12">
                            <div class="profile-sidebar">
                                <h3> Location </h3>
                                <hr>
                                <img class="profile-map"
                                src="http://placehold.it/267x267&text=Map">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container -->
        </div>
{% endblock %}
