{% extends "layouts/base.html" %}
{% block body %}
    <div class="container provider-welcome">
        <div class="lead">
            <span class="deck"> Connect to motivated consumers who are actively looking
                for the solutions you provide.
            </span>
        </div>

        <div class="row">
            <div class="col-md-5">
                <img class="img-responsive center" src="http://placehold.it/250x250">
            </div>

            <div class="col-md-7">
                <h2> Current Challenge </h2>
                <p> Connecting with potential customers online can be a difficult process</p>
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-7">
                <h2> HairShopSearch Solution </h2>
                <p> We believe we can fly</p>
            </div>

            <div class="col-md-5">
                <img class="img-responsive center" src="http://placehold.it/250x250">
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-5">
                <img class="img-responsive center" src="http://placehold.it/250x250">
            </div>

            <div class="col-md-7">
                <h2> Formula for Success </h2>
                <p> Connecting with potential customers online can be a difficult process</p>
            </div>
        </div><!-- /.row -->

        <div class="row align-center">
            <p> Integrate the power of the internet into your business and continue
            to grow your presence online. We can help you succeed. Grow a strong,
            attractive business.
            </p>
            <p> Start here to sign up for a Free Profile Listing:</p>
            <button class="btn btn-warning center" type="button">
                <span> Let's Get Started </span>
                <span> Seems like you're ready </span>
            </button>
        </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock %}
