{% extends "layouts/base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Welcome to HairShopSearch! </h1>
            <h4> Please take a moment to introduce yourself. </h4>
            <p> Do you own a barbershop, salon, or small business selling your hair care
                products?</p>
            <a href="{{ url_for('dashboard.new_provider') }}">Click Here</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p> Are you looking for black hair care services and products?</p>
            <a href="{{ url_for('dashboard.new_consumer') }}">Click Here</a>
        </div>
    </div>
</div>

{% endblock %}
