{% extends "layouts/base.html" %}
{% block body %}
<h1> Welcome to HairShopSearch! </h1>
<h4> Please take a moment to introduce yourself. </h4>

<div class="choose-provider">
<p> Do you own a barbershop, salon, or small business selling your hair care
    products?</p>
<a href="{{ url_for('dashboard.new_provider') }}">Click Here</a>
</div>

<div class="choose-consumer">
<p> Are you looking for black hair care services and products?</p>
<a href="{{ url_for('dashboard.new_consumer') }}">Click Here</a>
</div>

{% endblock %}
