@font-face {
    font-family: 'HSSMyriad';
    src: url('/static/font/MyriadPro-Regular.otf');
}

@font-face {
    font-family: 'HSSMinion';
    src: url('/static/font/MinionPro-Regular.otf');
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'HSSMinion', serif;
}

p,span {
    font-family: 'HSSMyriad', sans-serif;
}

body {
  padding-top: 4em;
  padding-bottom: 4em;
}

.inset-shadow-top-bottom {
            box-shadow: inset 0  10px 10px -3px #1a1a1a,
                        inset 0 -10px 10px -3px #1a1a1a;
       -moz-box-shadow: inset 0  10px 10px -3px #1a1a1a,
                        inset 0 -10px 10px -3px #1a1a1a;
    -webkit-box-shadow: inset 0  10px 10px -3px #1a1a1a,
                        inset 0 -10px 10px -3px #1a1a1a;
}

.row {
  margin-top: 1em;
}

.navbar-brand {
    padding: 0;
    padding-top: 11px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  .jumbotron > .container {
    max-width: 1060px;
  }
}

.jumbotron {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #333;
}

.jumbotron img {
    margin: 0 auto;
}

.profile-header {
  color: #fff;
  background: #000;
  padding: 15px;
  box-shadow: -2px 2px 7px -1px #1a1a1a;
}

.profile-header h3 {
    margin: 0;
    text-align: center;
}

.profile-content > div {
    background: #ffcb63;
    font-size: 16px;
    padding: 10px;
    margin: 0 auto;
    width: 98%;
    z-index: -10;
}

.profile-sidebar {
    background: #000;
    color: #fff;
    font-family: 'HSSMinion', serif;
    font-size: 16px;
    padding: 15px;
    text-align: center;
}

.profile-sidebar h3 {
    margin: 0;
}

.profile-sidebar table {
    margin: 0 auto;
}

.profile-map {
    display: block;
    margin: 0 auto;
}

form.navbar-left {
    padding-left: 17px;
    padding-top: 11px;
}

.form-inline .form-group input {
}
