@import url('mixins.less');
@vivid-orange: #f90;
@slightly-darker-vivid-orange: #EF8F00;
@warm-white: #F7F7F7;
@off-white: #e2f0f0;
//@swanky-blue: #68aecd;
//@sherbet-orange: #FFC063;
@sherbet-orange: #FFB651;

@bg-url: url('/static/img/bg-noise.png');

@seventy-percent-grey: #898989;
@light-orange: #ffcb63;
@teal-as-crap: #3daa98;
@chilax-grey: #79818a;

@white: #fff;
@black: #000;
@grey: #333;
@pretty-grey: #5A6060;
@light-grey: #A2AAAA;

@header-bg: @vivid-orange;
@navbar-shadow: @chilax-grey;
@navbar-border: @slightly-darker-vivid-orange;
@navbar-fg: @white;

@body-bg: @off-white;

@footer-bg-end: @pretty-grey;
@footer-bg-start: @light-grey;
@footer-fg: @white;

@jumbotron-color: @grey;
@profile-header-color: @black;
@profile-header-fg: @white;
@profile-header-active: @teal-as-crap;
@profile-content-color: @light-orange;
@profile-sidebar-bg: @black;
@profile-sidebar-fg: @white;

@user-dashboard-group-bg: @warm-white;
@user-dashboard-group-border: @seventy-percent-grey;

@text-color: @black;

@font-face {
    font-family: 'HSSMyriad';
    src: url('/static/font/MyriadPro-Regular.otf');
}

@font-face {
    font-family: 'HSSMinion';
    src: url('/static/font/MinionPro-Regular.otf');
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'HSSMinion', serif;
}

ul, ol {
    list-style: none;
}

p,span {
    font-family: 'HSSMyriad', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 3em;
}

.page-wrap {
    min-height: 100%;
    width: 100%;
    margin-bottom: -14em;
    background-color: @body-bg;
    background: @bg-url;
}

.page-wrap:after {
    content: "";
    display: block;
    height: 14em;
}

.footer {
    background: @footer-bg-end;
    color: @footer-fg;
    height: 14em;
    width: 100%;
    a {
        color: @footer-fg;
    }
    #gradient > .vertical(@footer-bg-start; @footer-bg-end;);
}


img {
    display: block;
}

.center {
    margin: 0 auto;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.inset-shadow-top-bottom {
            box-shadow: inset 0  10px 10px -3px #1a1a1a,
                        inset 0 -10px 10px -3px #1a1a1a;
       -moz-box-shadow: inset 0  10px 10px -3px #1a1a1a,
                        inset 0 -10px 10px -3px #1a1a1a;
    -webkit-box-shadow: inset 0  10px 10px -3px #1a1a1a,
                        inset 0 -10px 10px -3px #1a1a1a;
}

.row {
  margin-top: 1em;
}

.navbar {
    background: @header-bg;
    border-bottom: 1px solid @navbar-border;
    box-shadow: 0 1px 2px 0px @navbar-shadow;
}

.nav-container {
    max-width: 1360px;
    margin: 0 auto;
}
.navbar-brand {
    padding: 0;
    padding-left: 15px;
    padding-top: 11px;
}

.navbar form {
    text-align: center;
    padding-top: 10px;
}

.navbar-inverse .navbar-nav li > a {
    color: @navbar-fg;
}

@media screen and (min-width: 960px) {
    .navbar form {
    }
}

/*
.navbar-form div.form-group {
    padding-right: 10px;
}

.navbar-form input.input-sm {
    height: 26px;
}

.navbar-form input.inset-shadow {
    box-shadow: inset 1px 1px 2px 1px #888;
    border: none;
}

.navbar-form input.apple-round {
    border-radius: 16px;
    -moz-border-radius: 16px;
}
*/

.search-form-container form {
    .align-center;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  .jumbotron > .container {
    max-width: 1060px;
  }
}

.rotate-90 {
            transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.jumbotron {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: @jumbotron-color;
}

.jumbotron img {
    margin: 0 auto;
}

.jumbotron .row {
    margin-top: 0;
}


.profile-header {
  color: @profile-header-fg;
  background: @profile-header-color;
  box-shadow: -2px 2px 7px -1px #1a1a1a;
    h3 {
        margin: 0;
        padding: 15px;
        font-size: 21px;
        text-align: center;
    }
}

.profile-header > h3.active {
    background: @profile-header-active;
}


.profile-content > div, /* Boo... */
.profile-content {
    background: @profile-content-color;
    font-size: 16px;
    padding: 10px;
    margin: 0 auto;
    width: 98%;
    z-index: -10;
}

.profile-sidebar {
    background: @profile-sidebar-bg;
    color: @profile-sidebar-fg;
    font-family: 'HSSMinion', serif;
    padding: 15px;
    font-size: 16.8px;
    text-align: center;
    h3 {
        margin: 0;
        font-size: 25.2px;
    }
    table {
        margin: 0 auto;
    }
}

.profile-map {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.profile-menu {
    margin-bottom: 10px;
    caption {
        caption-side: top;
        text-align: left;
        font-size: 22px;
    }

    td {
        padding: 10px;
    }
}

.lg-logo {
    margin: 0 auto;
}

.user-dashboard-group {
    border: 2px solid @user-dashboard-group-border;
    background: @user-dashboard-group-bg;
    padding: 1em;
}


.tab-content > .tab-pane {
    border: 3px solid black;
    border-radius: 0 4px 4px 4px;
    padding: 2em;
}
