p { margin-top: 1em; }

.index .page-wrap {
    padding-top: 4em;
}

.page-wrap {
    min-height: 100%;
    width: 100%;
    margin-bottom: -14em;
    background-color: @body-bg;
    background: @bg-url;
    padding-top: 8em;
    padding-bottom: 2em;
}

.page-wrap:after {
    content: "";
    display: block;
    height: 14em;
}

.footer {
    height: 14em;
    width: 100%;
    text-align: center;
    ul li {
        display: inline-block;
    }
}

/* Nav
 ******/
.navbar {
    background: @navbar-bg;
    border-bottom: 1px solid @navbar-border;
    z-index: 100;
}

.navbar.secondary {
    background: @secondary-navbar-bg;
    background: url('/static/img/skin_side_up.png') repeat-x;
    border-bottom: 1px solid @secondary-navbar-border;
    border-bottom: 1px solid #999;
    top: 50px;
    z-index: 10;
    min-height: 40px;
    select.input-sm {}
    .input-sm {
        height: 25px;
        padding: 5px 10px;
        font-size: 11px;
        line-height: 15px;
        border-radius: 3px;
    }
}

.navbar-collapse {
    border-top: none;
}

.nav-container {
    max-width: 1360px;
    margin: 0 auto;
}
.navbar.navbar-inverse .navbar-header .navbar-brand {
    padding: 6px 0 0 15px;
}

.navbar-inverse .navbar-form {
    border: none;
}

.navbar-inverse .navbar-collapse {
    border-color: darken(@navbar-bg, 25%);
}
.navbar-inverse.secondary .navbar-form {
    border-color: none;
}

.navbar-inverse .navbar-nav li > a {
    color: @navbar-fg;
    padding: 10px;
    margin-top: 5px;
}

.navbar-inverse .navbar-nav li > a.nav-login {
    background: #000;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
}
