@font-face {
    font-family: 'HSSMyriad';
    src: url('/static/font/MyriadPro-Regular.otf');
}

@font-face {
    font-family: 'HSSMinion';
    src: url('/static/font/MinionPro-Regular.otf');
}

h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, HSSMinion, serif;
}

p,span, ul li, a {
    font-family: 'HSSMyriad', sans-serif;
}

a {
    color: #FF9900;
    &:hover {
        color: #57b7e5;
    }
}
